# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# Environment / Secrets
.env
.env.*

# IDE
.vscode/
.idea/

# Database
db.sqlite3

# User uploaded files / private documents
media/resumes/

# Project backup
JobManagementSystem_Backup.zip

# OS files
.DS_Store
Thumbs.db

# Private resume files
resumes/
media/resumes/